@mixin u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin u-visually-hidden-focusable {
  @include u-visually-hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: var(--space-2) auto;
    clip: auto;
    overflow: visible;
    white-space: normal;
    text-align: center;
    display: block;
  }
}

.u-visually-hidden,
.visually-hidden {
  @include u-visually-hidden;
}

.u-visually-hidden-focusable,
.visually-hidden-focusable {
  @include u-visually-hidden-focusable;
}
